@import url("https://fonts.googleapis.com/css2?family=Nobile&display=swap");

body {
  margin: 0;
  font-family: 'Nobile' sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
