@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nobile&display=swap");

.container {
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    font-family: 'Nobile', sans-serif;
    margin: 36px 0 0 0 ;
    padding: 0
}

.titleName {
    color: #fff;
    font-family: 'Licorice', cursive;
    font-size: 90px;
    margin: 0;
    padding: 0;
}

.categoriesContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column
}


.containerOne, .containerTwo {
    display: flex;
    flex-direction: row;
}

.containerOne {
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
}


.containerTwo {
    animation: 1.2s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.divCategory {
    max-width: 33%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ccc;
    width: 235px;
    height: 150px;
    cursor: pointer;
}

.catTitle {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    font-family: 'Nobile', sans-serif;
    pointer-events: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.shade {
    transition: 0.3s;
    background-color: rgba(168, 162, 156, 0.897);
    background-blend-mode: multiply;
}

.history {
    background-image: url("../../common/assets/history.png");
    background-size: cover;
}

.science {
    background-image: url("../../common/assets/science.png");
    background-size: cover;
}

.sports {
    background-image: url("../../common/assets/sports.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.arts {
    background-image: url("../../common/assets/arts.jpg");
    background-size: cover;
}

.entertainment {
    background-image: url("../../common/assets/entertainment.jpg");
    background-size: cover;
}

.geography {
    background-image: url("../../common/assets/geography.jpg");
    background-size: cover;
}

.btn {
    margin-top: 20px;
    align-self: center;
    cursor: pointer;
    font-family: 'Nobile', sans-serif;
    font-weight: bold;
    background-color: black;
    border-radius: 4px;
    color: rgb(236, 186, 57);
    width: 150px;
    height: 36px;
    border-color: goldenrod;
    /* box-shadow: 0 2px 5px silver inset; */
}

.btn:hover {
    box-shadow: 0 4px 8px, 0 -4px 8px;

    transition: 0.1s;
}
