.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nobile', sans-serif;
}

.resultMsg {
    color: #fff;
    margin-top: 32px;
    margin-bottom: 4px;
    font-family: 'Nobile', sans-serif;
}

.congratsContainer {
    display: flex;
    flex-direction: column;
    align-items: center
}

.congratsOrNot {
    color: #fff;
}

.gif, .gif2 {
    max-width: 95%;
    margin-bottom: 12px;
    justify-self: center;
    border-radius: 4px;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
}

.gif {
    height: 300px;
    width: 300px;
}

.gif2 {
    height: 300px;
    width: 370px;
}

.link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    width: 170px;
    height: 46px;
    font-family: 'Nobile', sans-serif;
    margin-bottom: 20px;
    background-color: rgb(60, 98, 202);
    font-weight: bold;
    border-color: rgba(255, 255, 255, 0.801);
    color: #fff;
}

.btn:hover {
    color: rgb(8, 91, 247);
    background-color: #fff;
    transition: 0.3s
}
