.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nobile', sans-serif;
}

.question {
    color: #fff;
}

.option, .correctOption, .incorrectOption{
    margin: 5px 5px 0 0;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-style: solid;
    border-radius: 4px;
    width: 300px;
}

.option {
    border-color: white;
    cursor: pointer;
}

.option:hover {
    color: black;
    background-color: #fff
}

.correctOption {
    border-color: green;
    background-color:green;
}

.incorrectOption {
    border-color: red;
    background-color: red;
}